
#write-a-message {
  display: block;
  padding: env(safe-area-inset);
  overflow: hidden;
  width: 100vw;
  min-width: 280px;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.write-a-message__inner-container {
  width: 100%;
  max-width: 45rem;
  margin: auto;
}

.write-a-message__section-title {
  position: relative;
  margin: auto;
  padding: 1rem 0 1.5rem 1rem;

  font-family: concert-one, sans-serif;
  font-size: 2.5rem;
  color: var(--text-blue);
  text-transform: uppercase;
  text-align: left;
}

#message {
  display: block;
  width: 95%;
  max-width: 45rem;
  margin: auto;
  padding: 1rem 0 1.5rem 1rem;
  font-family: pt-sans, sans-serif;
  font-size: 1rem;
  color: var(--text-blue);
  text-transform: uppercase;
  text-align: left;
}

#submit-button {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--main-black);
  border-radius: 50px;
  font-family: nunito, sans-serif;
  font-size: 1rem;
  color: var(--main-black);
  font-weight: 600;
}

#submit-button:hover,
#submit-button:active,
#submit-button:focus {
  background: var(--main-blue);
  cursor: pointer;
}

.invalid {
  background: #ffb8b8 !important;
}

#modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.418);
}

#modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 32rem;
  height: auto;
  padding: 1rem;
  border-radius: 8px;
  background: var(--main-white);
}

#modal h1 {
  font-family: nunito, sans-serif;
  font-size: 1.5rem;
  color: var(--main-black);
  font-weight: 800;
  text-align: center;
}

#modal p {
  font-family: pt-sans, sans-serif;
  font-size: 1rem;
  color: var(--main-black);
  font-weight: 500;
  text-align: center;
}

#modal button {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--main-black);
  border-radius: 50px;
  font-family: nunito, sans-serif;
  font-size: 1rem;
  color: var(--main-black);
  font-weight: 600;
}

#modal button:hover,
#modal button:focus,
#modal button:active {
  background: var(--main-blue);
  cursor: pointer;
}