
:root {
  --black: #000000;
  --lime: #E6FFC5;
  --white: #FFFFFF;
  --grey: #9e9e9e;
}

main {
  background: var(--lime);
}

#main-footer__inner {
  background: var(--lime);
}

#connections {
  display: block;
  padding: env(safe-area-inset);
  overflow: hidden;
  width: 100vw;
  min-width: 280px;
  text-align: center;
}

.connections__inner-container {
  padding-bottom: 2rem;
}

.section-title {
  font-family: concert-one, sans-serif;
  font-size: 2.5rem;
  color: var(--black);
  text-transform: uppercase;
}

.connections__section-title {
  margin-bottom: 0;
}

.connections__content-container {
  display: block;
}

.connections__content-container p,
.connections__content-container li {
  padding-right: 5%;
  /* display: block; */
  width: 90%;
  position: relative;
  margin: 1rem 2rem;
  z-index: 2;

  text-align: left;
  font-family: pt-sans, sans-serif;
  font-size: clamp(1rem, 1.8vw, 1.1rem);
  color: var(--main-black);
  opacity: 1;
}

.connections__content-container a {
  font-family: pt-sans, sans-serif;
  font-size: clamp(1rem, 1.8vw, 1.1rem);
  color: var(--main-black);
}

.connections__content-container .inner-list li {
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.connections__content-container h3 {
  display: block;
  position: relative;
  margin: 1.5rem 0 1rem 2rem;
  z-index: 2;

  font-family: nunito, sans-serif;
  font-size: clamp(1.3rem, 2.5vw, 1.7rem);
  color: var(--main-black);
}

.connections__lead-container {
  background: var(--white);
  border: 2px solid var(--black);
  max-width: 50rem;
  width: 95%;
  margin: auto;
}

@media (min-width: 64rem) {

  .section-title {
    font-size: 3.5rem;
  }

  .connections__content-container {
    width: 90%;
    max-width: 120rem;
    margin: auto;
  }

  .connections__content-container h3 {
    margin: 1rem;
    font-size: clamp(1.2rem, 2.5vw, 1.7rem);
  }

}

#video-submission {
  display: block;
  padding: env(safe-area-inset);
  overflow: hidden;
  width: 100vw;
  min-width: 280px;
  text-align: center;
  background: var(--white);
}

.video-submission__content-container {
  display: block;
}

.video-submission__text-container {
  background: var(--lime);
  border: 2px solid var(--black);
  max-width: 50rem;
  width: 95%;
  margin: auto;
}

.video-submission__content-container p,
.video-submission__content-container li {
  padding-right: 5%;
  /* display: block; */
  width: 90%;
  position: relative;
  margin: 1rem 2rem;
  z-index: 2;

  text-align: left;
  font-family: pt-sans, sans-serif;
  font-size: clamp(1rem, 1.8vw, 1.1rem);
  color: var(--main-black);
  opacity: 1;
}

.video-submission__content-container button,
.connections__content-container .button {
  display: block;
  margin: 1.5rem auto;
  font-family: pt-sans, sans-serif;
  font-size: clamp(1rem, 1.8vw, 1.1rem);
  color: var(--grey);
  padding: 0.5rem 2rem;
  border: solid 2px var(--grey);
  background: var(--white);
  border-radius: 25px;
  width: fit-content;
  text-decoration: none;
}

.connections__content-container .button {
  color: var(--main-black);
  border: solid 2px var(--main-black);
}

@media (min-width: 64rem) {

  .video-submission__content-container {
    width: 90%;
    max-width: 120rem;
    margin: auto;
  }

  .video-submission__content-container h3 {
    margin: 1rem;
    font-size: clamp(1.2rem, 2.5vw, 1.7rem);
  }

}