
#projects {
  display: block;
  padding: env(safe-area-inset);
  overflow: hidden;
  width: 100vw;
  min-width: 280px;
  text-align: center;
}

.projects__inner-container {
  padding-bottom: 2rem;
}

.projects__section-title {
  font-family: concert-one, sans-serif;
  font-size: 2.5rem;
  color: var(--text-blue);
  text-transform: uppercase;
}

.projects__content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects__item {
  display: block;
  width: 90%;
  max-width: 26rem;
  aspect-ratio: 1/1;
  margin: auto;
  margin-bottom: 3rem;
  height: auto;
  overflow: hidden;
  position: relative;

  background: var(--main-yellow);
  box-shadow: 0 0 6px 2px #a0a0a07f;
  text-decoration: none;
}

.projects__item:hover {
  cursor: pointer;
}

.projects__white-effect {
  display: block;
  height: clamp(12rem, 65%, 17rem);
  width: 150%;
  position: absolute;
  top: -20%;
  left: -20%;

  background: #ffffffd8;
  
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  transform-origin: center top 0;
  -webkit-transform-origin: center top 0;
  -o-transform-origin: center top 0;
  -moz-transform-origin: center top 0;
}

@media (max-width: 23.5rem) {

  .projects__white-effect {
    height: clamp(12rem, 80%, 20rem) !important;;
  }

  #projects__world-mental-health-day-2022 .projects__white-effect,
  #projects__murals .projects__white-effect,
  #projects__mental-wealth-festival .projects__white-effect {
    height: clamp(12rem, 95%, 20rem) !important;; 
  }
}

.projects__item h3 {
  display: block;
  position: relative;
  margin: 1.5rem 0 1rem 2rem;
  z-index: 2;
  width: 80%;

  font-family: nunito, sans-serif;
  font-size: clamp(1.3rem, 2.5vw, 1.7rem);
  color: var(--main-black);
  text-decoration: none;
  text-align: left;
}



.projects__item p {
  padding-right: 5%;
  display: block;
  width: 90%;
  position: relative;
  margin: 1rem 2rem;
  z-index: 2;

  text-align: left;
  font-family: pt-sans, sans-serif;
  font-size: clamp(1rem, 1.8vw, 1.1rem);
  color: var(--main-black);
  opacity: 1;
}



.projects__item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
}

#projects__murals img {
  width: 100%;
  height: auto;
  top: -35%;
}

#projects__world-mental-health-day-2022 .projects__white-effect,
#projects__mental-wealth-festival .projects__white-effect {
  height: clamp(11.5rem, 68%, 17rem);
}

@media (min-width: 64rem) {

  .projects__section-title {
    font-size: 3.5rem;
  }

  .projects__content-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    max-width: 120rem;
    margin: auto;
  }

  .projects__item {
    margin-left: 1%;
    margin-right: 1%;
    width: 30%;
    min-width: 22rem;
  }

  .projects__white-effect {
    display: block;
    height: clamp(12rem, 68%, 17rem);
    width: 150%;
    position: absolute;
    top: -20%;
    left: -20%;

    background: #ffffffd8;

    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform-origin: center top 0;
    -webkit-transform-origin: center top 0;
    -o-transform-origin: center top 0;
    -moz-transform-origin: center top 0;
  }

  .projects__item h3 {
    margin: 1rem;
  
    font-size: clamp(1.2rem, 2.5vw, 1.7rem);
  }

  #projects__world-mental-health-day-2022 .projects__white-effect,
  #projects__mental-wealth-festival .projects__white-effect {
    height: clamp(13rem, 75%, 18rem);
  }

  @media (hover:hover) {

    .projects__white-effect {
      height: 45%;

      transition: all 0.4s ease 0.2s;
      -webkit-transition: all 0.4s ease 0.2s;
      -o-transition: all 0.4s ease 0.2s;
      -moz-transition: all 0.4s ease 0.2s;
    }
  
    .projects__item:hover .projects__white-effect {
      height: clamp(12rem, 68%, 17rem);
  
      transition: all 0.4s ease 0s;
      -webkit-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
    }
  
    .projects__item p {
      opacity: 0;
    
      transition: all 0.2s ease 0s;
      -webkit-transition: all 0.2s ease 0s;
      -o-transition: all 0.2s ease 0s;
      -moz-transition: all 0.2s ease 0s;
    }
  
    .projects__item:hover p {
      opacity: 1;
  
      transition: all 0.2s ease 0.4s;
      -webkit-transition: all 0.2s ease 0.4s;
      -o-transition: all 0.2s ease 0.4s;
      -moz-transition: all 0.2s ease 0.4s;
    }
  
    #projects__world-mental-health-day-2022 .projects__white-effect,
    #projects__mental-wealth-festival .projects__white-effect {
      height: 45%;
    }
  
    #projects__world-mental-health-day-2022:hover .projects__white-effect,
    #projects__mental-wealth-festival:hover .projects__white-effect {
      height: clamp(13rem, 75%, 18rem);
    }

  }
}