
/* concert-one */
@font-face {
  font-family: "concert-one";
  src: url("concert-one/ConcertOne-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

/* nunito */
@font-face {
  font-family: "nunito";
  src: url("nunito/Nunito-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("nunito/Nunito-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("nunito/Nunito-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("nunito/Nunito-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "nunito";
  src: url("nunito/Nunito-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

/* pt-sans */
@font-face {
  font-family: "pt-sans";
  src: url("pt-sans/PTSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pt-sans";
  src: url("pt-sans/PTSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
